@model PetBetterRedux.Models.BirdViewModel

<h2>Amazing Avifauna</h2>
<div class="row">
    <div class="col-md-12">
        <p></p>
        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <td> </td>
                    <th>ID Number</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Sub-type</th>
                    <th>Diet</th>
                    <th>Background</th>
                </tr>
            </thead>
            @foreach (var a in Model.BirdList)
            {

                <tbody>
                    <tr>
                        <td id="animal-image"><a href="@a.ImageUrl"><img id="thumbnail" class="img-thumbnail" src="@a.ImageUrl" alt="Animal Picture" /></a></td>
                        <td>@a.Id</td>
                        <td>@a.Name</td>
                        <td>@a.Type</td>
                        <td>@a.SubType</td>
                        <td>@a.Diet</td>

                        <td>@a.Description</td>


                    </tr>

                </tbody>


            }

        </table>



    </div>
</div>